html{
    font-family: 'Mukta', sans-serif;
    background: hotpink;
    color: purple;
}

body h1{
    font-weight:bold;
    font-size:250%;
}

nav a{
    border: 3px solid purple;
    font-size: 150%;
    text-decoration: none;
}