@keyframes example{
    from {background-color: hotpink;}
    to {background-color: pink;}
}
html{
    font-family: 'Mukta', sans-serif;
    background: hotpink;
    color: purple;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

body h1{
    font-weight:bold;
    font-size:50px;
    font-family:sans-serif;
}

nav a{
    border: 3px solid purple;
    font-size: 25px;
    text-decoration: none;
}

p.lists{
    font-weight: bold;
    font-size:30px;
    text-align:center;
}

ol {
    text-align:center;
    border-left:2px solid black;
    border-bottom:2px solid black;
    border-top:2px solid black;
    border-right:2px solid black;
    font-size:25px;
    padding:0px;
    margin-left:33%;
    margin-right:33%;
    list-style-position: inside;
    box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.56);
}

ul{
    text-align:center;
    border-left:2px solid black;
    border-bottom:2px solid black;
    border-top:2px solid black;
    border-right:2px solid black;
    font-size:25px;
    padding:10px;
    margin-left:400px;
    margin-right:400px;
    list-style-position: inside;
    box-shadow: 10px 10px 10px 6px rgba(0,0,0,0.56);
    color:lightblue;
}

a:hover {
    background-color:purple;
    color:white;
}

footer {
    text-align: center;
    clear: both;
}

ol li:nth-child(1),
ol li:nth-child(2),
ol li:nth-child(9),
ol li:nth-child(10) {
    background-color:lightblue;
}

ol li:nth-child(3),
ol li:nth-child(4),
ol li:nth-child(7),
ol li:nth-child(8) {
    background-color:lightpink;
}

ol li:nth-child(5),
ol li:nth-child(6) {
    background-color:white;
}

img {
    width: 50%;
    height: 50%;
    float: left;
}

.borderlands {
    margin-top: 25px;
}

.bl {
    margin-bottom: 25px;
}
